* {
  overflow-x: hidden;
  font-family:'Poppins', 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}



/* header section*/
header {
  background-color: black;
  width: 98%;
  padding: 20px;

  grid-template-areas: "title blank navbar" ;

  display: grid;
  grid-template-columns: 30% 15% 50%;

  min-height: 50px;
}

header > .page-title {
  grid-area: title;
}

.page-title {
  margin-left: 30px;

  font-size: 2vw;

  color: white;
}

header > .main-navbar {
  grid-area: navbar;
}

.main-navbar {
  padding: 20px;

  display: inline-flex;

  background-color: transparent;
  
}


#link, 
#home, 
#about, 
#CV {
  text-decoration: none;

  width: 140px;
  height: 30px;
  margin-left: 20px;

  padding-top: 6px;

  text-align: center;
  

  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.5s ease;
  z-index: 1;

  border-radius: 50px;

  color: white;

  font-size: 1.5vw;
}

#link:hover, 
#home:hover, 
#about:hover, 
#CV:hover {
  color: black;

  background-color: rgb(75, 255, 75);

}

#link::before, 
#home::before, 
#about::before, 
#CV::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;

  
  background-color: #00f81d;
  transition: width 0.3s ease;
  z-index: -1;color: white;
}



#link:hover::before, 
#home:hover::before, 
#about:hover::before, 
#CV:hover::before {
  width: 100%; /* Expands the background to fill the button */
}

.CV_link {
  background-color: #00f81d;
  color: rgb(0, 0, 0);

  font-size: 0.7vw;
  padding: 5px;

  margin-left: 10px;

  border-radius: 50px;
}

.CV_link:hover {
  color: rgb(11, 255, 52);

  background-color: rgb(35, 120, 35);
}

.CV_link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #056711;
  transition: width 0.3s ease;
  z-index: -1;
} 

main {
  flex: 1; /* pushes footer down */

  background-image: url("/images/juanjo-jaramillo-mZnx9429i94-unsplash.jpg");
  background-repeat: no-repeat
}

.main-introduction, .about {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
  margin: 0;
}


/* Footer section */
.site-footer {
  background-color: blue;
  width: 98%;
  height: 8%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  margin: 0


}

.footer-container {
  background-color: grey;
  width: 95%;
  height: 20%;
  padding: 20px;
  

  grid-template-areas: "about blank features" ;

  display: grid;
  grid-template-columns: 30% 10% 40%;
}

.footer-container > .footer-features {
  grid-area: features;
}

.footer-container > .footer-info {
  grid-area: about;
}

.footer-copyright {
  text-align: center;
}

.footer-info > div {
  display: flex;
}


.home-aside {
  margin-left: 30px;
  margin-top: 30px;

  padding: 4%;

  background-color: rgb(0 0 0 / 50%);
  color: white;

  width: 40%;
  min-height: 200px;

}

.footer-picture {
  text-align: center;
}


/* About Section*/
.about-nav {
  margin-left: 30px;

  margin-top: 10px;


  background-color: rgb(0 0 0 / 50%);
  color: white;

  width: 90%;
  min-height: 50px;

  place-items: center;

  padding: 2%;
}


button {
  font-size: 1vw;
  padding: 10px;
  min-width: 100px;

  width: 250px;

  margin-left: 12vw;
}



.about-section {
  width: 94%;
  min-height: 200px;

  margin-top: 50px;
  margin-left: 30px;



  margin-bottom: 100px;
  background-color: rgb(0 0 0 / 50%);
  color: white;

  display: flex;
}

/*placeholder style*/
.skill-item {
  min-width: 200px;
  height: 200px;

  background-color: red;

  margin: 30px;

  padding: 50px;
}